* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}
table {
    width: 38em;
    border-collapse: collapse;
}
td, th {
    text-align: left;
    font-weight: normal;
    padding: 0.6em;
    border-right: 0.1em solid #c7d397;
}
td:last-child, th:last-child {
    border-right: none;
}
th {
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 97%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(97%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 97%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 97%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 97%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 97%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    color: white;
    border-bottom: 0.1em solid #009b07;
    border-right: 0.1em solid #009b07;
}
.firstCol {
    width: 12em;
}
.secondCol {
    width: 9em;
}
.thirdCol {
    width: 10em;
}
.fourthCol {
    
}
tr:nth-child(2n) {
    background-color: #f8fce7;
}
img {
    padding-right: 0.6em;
    vertical-align: middle;
}