$canvasPadding: 10px;
$canvasWidth: 512px + $canvasPadding * 2;

* {
	padding: 0;
	margin: 0;
}

.canvasHolder {
	padding: $canvasPadding;
	padding-bottom: $canvasPadding - 5px;
	background: #3F8630;
}

.centerCanvas {
	position: absolute;
	left: 50%;
	margin-top: 45px;
	margin-left: -($canvasWidth / 2);
}