<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MongoDb.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MongoDb.Client.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>mongodb://localhost/</value>
      </setting>
      <setting name="mongolab" serializeAs="String">
        <value>mongodb://cinemauser:cinemauser123@ds063879.mongolab.com:63879/cinema</value>
      </setting>
    </MongoDb.Client.Settings>
  </userSettings>
  <connectionStrings>
    <!-- See http://www.mongodb.org/display/DOCS/CSharp+Driver+Tutorial#CSharpDriverTutorial-Connectionstrings for more info -->
    <add name="MongoServerSettings" connectionString="mongodb://localhost/Cinema" />
  </connectionStrings>
</configuration>