.km-drawer-button:before, .km-drawer-button:after 
{ 
	content: "\E077"; 
}

.block {
	display: block;
}

.button-right {
	display: inline-block;
	vertical-align: top;
	float: right;
}

.inline {
	display: inline-block;
}

.create-button {
	margin: 0;
	width: 100%;
	height: 40px;
}

.km-list li {
	border: 0px;
	border-bottom: 1px solid black;
	border-style: inset;
}

.drawer {
	background: #3F4241;
}

.drawer .km-list li {
	color: #FFF;
}

.km-list-view-link {
	color: #000;
}